aws_availability_zone_a = ""
aws_availability_zone_b = ""
aws_deploy_account = ""
aws_deploy_iam_role_name = ""
aws_deploy_region = ""
aws_profile = ""
owner = "" // to tag AWS resources

// VPC config
cidr_block_subnet_a = "" // CIDR block of your subnet in one availability zone in your Region
cidr_block_subnet_b = "" // CIDR block of your subnet in another availability zone in your Region
my_ip_address = "" // Your IP address with trailing "/32" indicates only that specific IP address
